body {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  font-family: "Times New Roman", sans-serif;
}
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(3deg, #431667, #8f8796);
  padding: 1px 20px;
}
.header p {
  color: #fff;
}
.logo img {
  width: 200px !important;
  height: 70px !important;

  object-fit: contain !important;
}
.menu {
  background-color: #8f8796;
  padding: 5px 20px;
  display: flex;
  justify-content: end;
}
.menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.line {
  position: relative;
  z-index: 21;
  margin-left: 20px;
}
.line:before {
  content: "";
  position: absolute;
  padding: 5px;
  width: 0;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.line:hover::before {
  left: -5px;
  bottom: -5px;
  border-radius: 5px;
  width: 100%;
  background: #431667;
  height: 100%;
}

area {
  width: 100%;
  height: 100%;
}

#pixels {
  width: 1000px;
  height: 1000px;
  border: 0;
  margin: 0 auto;
  text-align: center;
}

.contact {
  display: flex;
  margin: 1rem 0;
}
#banner {
  width: 35%;
  position: relative;
  height: 500px;
  margin-right: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
#banner img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#contactText {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 65%;
}

#contactText p {
  font-size: 18px;
  letter-spacing: 1.5px;
  height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
}
#contactText p::-webkit-scrollbar {
  width: 4px;
  -webkit-appearance: none;
  background-color: transparent;
}
#contactText p::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-appearance: none;
}
#contactText p::-webkit-scrollbar-thumb {
  background: linear-gradient(270deg, #431667, #936eb3);
  padding-left: 10px;
}
.contact-inform {
  display: flex;
  justify-content: space-between;
}

.contact-box {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0.5rem 0.5rem rgba(230, 226, 233, 0.952);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 30%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.contact-box svg {
  margin-right: 10px;
}

.contact-box:hover {
  background: linear-gradient(270deg, #431667, #936eb3);
  transition: 0.4s all;
  color: #fff;
  box-shadow: none;
}
.contact-box:hover svg path {
  fill: white;
}
.contact-inform span {
  font-size: 18px;
}

@media (max-width: 1024px) {
  body {
    width: 100%;
  }
  .contact {
    padding: 0 30px;
  }
  .contact-inform {
    padding: 0 30px;
  }
  .main {
    width: 1000px;
  }
}
@media (max-width: 768px) {
  .contact {
    display: block;
  }
  #banner {
    width: 100%;
  }
  #contactText {
    margin-top: 20px;
    width: auto;
  }
  .contact-inform {
    display: block;
    justify-content: center;
  }
  .logo img {
    margin-left: 0;
  }
  #contactText p {
    font-size: 16px;
    letter-spacing: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .contact-box {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 10px 20px !important;
  }
}

.holderSpan {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: lightgray;
  float: left;
  z-index: -1;
  display: block;
}

#mapHolder {
  width: 1000px;
  height: 1000px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu svg {
  width: 16px;
  height: 16px;
}

.menu svg path {
  fill: white;
}
